/****************************
 ====== Votre CSS =====
 ****************************/
*{
    letter-spacing: 3px;
}

header {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#menuprincipal {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: inherit;
}

nav li{
    margin: 0 60px;
    font-family: "Josefin Sans";
    margin-right: 20px;
    /*position: inherit;*/
    /*height: 20px;
    width:70px;*/
}
nav ul a{
  /*padding-left: 0px;*/
  height: 20px;
  width: 10px;
}

nav ul li ul li a{
  margin-left: -90px;
  border-style: solid;
  height: 30px;

}
.sousmenu{
    display: none;
    position:absolute;
    padding-top: 30px;
}
#menuprincipal li:hover .sousmenu{
    display: block;
}
h1{
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 35px;
    text-align: left;
    width: 40%;
    margin: auto;
}
.imgpage1 {
  text-align: center;
}

/*page 2*/
.imgpage2 {
  text-align: center;
  border-top: 50px;
}

/*page 3*/
.imgpage3{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  /*text-align: center;*/
  /*padding-top:30px;*/
  align-items: center;
  border:1px;
  border-style: solid;
  border-color: #F7F7F7;
  /*width: auto;*/
}
#img3{
  width: 80%;
}
.pink{
  display: flex;
  margin: auto;
  height: 40px;
  width: 50px;
}

.hr{
    width: 60%;
    /*text-align: left;*/
    margin: auto;
}

section p{
    padding-top: 50px;
}
/*PAGE 2 ET 3*/
.premiere{
    /*display:flex;*/
    /*flex-direction: column;*/
    align-items: center;
    margin-bottom: 200px;
}

/*FOOTER*/

footer{
    background-color: #F7F7F7;
    padding-top: 50px;
}
footer ul li{
    margin-right: 25px;
    letter-spacing: 2px;
}
footer ul{
    margin: 30px 0 80px 0;
}
footer section {
    font-family: "Josefin Sans";
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.center{
    margin-right: 2%;
    margin-left: 2%;
}
article {
    flex: 1;
}
article ul{
    padding: 0;
}
.listfooter {
    list-style: none;
    display: flex;
    flex-direction: row;
}

article ul li {
    margin-bottom: 15px;
}
ul {
    list-style: none;
}
h5{
    font-weight: normal;
    letter-spacing: 1px;
}
hr{
    background-color: black;
    margin-bottom: 30px;
    padding: 0px;
}

/*FORMULAIRE*/

form{
    border:1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    border-color: #e5e5e5;
    background-color: white;
}
input{
    border:none;
}
.email{
    margin:10px 0 10px 10px ;
}
.submit{
    background-color: black;
    color:white;
    height:45px;
    width: 120px;
    border-radius: 4px;
    font-family: "sans-serif","Josefin Sans";
    font-weight: bolder;
}
p, .email{
    letter-spacing: 1px;
}
